# Package Management
/vendor
/node_modules
/bower_components

# Laravel specific
/public/storage
Homestead.yaml
Homestead.json

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# OSX
.DS_Store

# Compiled
resources/assets/**/*
**/*.css.map
public/build/rev-manifest.json
public/build/css/app-9c5d9d5ad1.css
public/build/js/bootstrap-fb81549ee2.js
Envoy.blade.php
images
