@import 'https://fonts.googleapis.com/css?family=Open+Sans|Oswald';

body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.recipe {
  margin: 0px;
  padding: 5px;

  ul,
  ol {
    margin: 0px;
    padding: 0px;

    li {
      margin: 0px;
      padding: 0px;
      li {
        margin-left: 20px;
      }
    }
  }

  ol {
    li {
      margin-left: 20px;
    }
  }

  ul.meta,
  ul.quality {
    list-style-type: none;
  }

}

@media print {
  .page-header {
    margin-top: 5px;
  }
}
